@page
@model RenderOPML.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>RSS Feed</title>
    <style>
        .button-form {
            display: inline;
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>OPML Feeds</h1>
        <ul class="list-group mt-4">
            @foreach (var item in Model.FeedItems)
            {
                <li class="list-group-item mb-3 mt-3">
                    <h2>@item.Text</h2>
                    <a href="RenderXML?xmlUrl=@System.Web.HttpUtility.UrlEncode(item.XmlUrl)" class="btn btn-primary">Read More!</a>
                    @{
                        bool isFavorite = Model.IsFeedStarred(item.XmlUrl);
                        if (isFavorite)
                        {
                            <form class="button-form" method="post">
                                <button type="submit" class="btn btn-warning" asp-page-handler="DeleteStar" asp-route-xmlUrl="@item.XmlUrl">Unstar</button>
                            </form>
                        }
                        else
                        {
                            <form class="button-form" method="post">
                                <button type="submit" class="btn btn-warning" asp-page-handler="Star" asp-route-xmlUrl="@item.XmlUrl" asp-route-feedTitle="@item.Text" asp-route-htmlUrl="@item.HtmlUrl">Star</button>
                            </form>
                        }
                    }
                </li>
            }
        </ul>

        <nav>
            <ul class="pagination justify-content-center">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                        <a class="page-link" href="?currentPage=@i">@i</a>
                    </li>
                }
            </ul>
        </nav>

        <div class="mt-4">
            <a href="Favorites" class="btn btn-primary">View Favorites</a>
        </div>
    </div>
</body>
</html>
